*{
	font-family: Helvetica;
}

#header {
	text-align: center;
	padding-top: 20px;
}

.container, #chicken, #beef, #sushi{
	display: inline-block;
}
#chicken {
	width: 400px;
	background-color: gray;
	border: 1px solid black;
	padding-top: 30px;
	padding: 12px 12px 12px 12px;

}

#beef {
	width: 400px;
	background-color: gray;
	border: 1px solid black;
	padding-top: 30px;	
	padding: 12px 12px 12px 12px;
}

#sushi {
	width: 400px;
	background-color: gray;
	border: 1px solid black;
	padding-top: 30px;
	padding: 12px 12px 12px 12px;

}